@model StarFleetBuilder.Models.Starship

@{
    ViewData["Title"] = "Delete";
}

<h1>Sell</h1>


<div class="row">
    <!-- Content column (Starship details) -->
    <div class="col-md-8">
        <h3 class="starwars-font">"Hmm...I guess we can strike a deal."</h3>
        <br />
        <br />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Model)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Model)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Crew)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Crew)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Passengers)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Passengers)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CargoCapacity)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CargoCapacity)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Consumables)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Consumables)
            </dd>
            <dt class="col-sm-2">
                Sell Price
            </dt>
            <dd class="col-sm-10">
                @(Convert.ToInt32(Convert.ToDouble(Model.CostInCredits) * 0.8)) Credits
            </dd>
        </dl>

        <!-- Form for selling -->
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Sell" class="btn btn-secondary" />
            <a asp-action="Index" class="btn btn-primary">Back to Hangar</a>
        </form>
    </div>

    <!-- Hondo Image Column -->
    <div class="col-md-4 text-right">
        <img src="~/images/Hondo2.png" alt="Hondo Ohnaka" class="hondo-image img-fluid" />
    </div>
</div>
